<!--START TOP AREA-->
{% set class = is_home ? '' : ' single-page' %}
<header class="top-area {{ class }}" id="home">

  {% if not is_home %}
    {% if header_banner and header_banner.image %}<div class="page-banner-bg" style="background-image:url('{{ header_banner.image }}');"></div>{% endif %}
  {% endif %}

  {% include '@d8training/main-menu/main-menu.twig' with main_menu %}

  {% if not is_home %}
    {% if header_banner %}
      {% include '@d8training/banner/banner.twig' with header_banner %}
    {% endif %}
  {% else %}
    {% if header_slider %}
      {% include '@d8training/header-slider/header-slider.twig' with header_slider %}
    {% endif %}
  {% endif %}

</header>
<!--END TOP AREA-->