.DS_Store

bin
vendor
node_modules

# Ignore Drupal's file directory except config files
/sites/*/files
!/sites/*/files/config*

# Ignore local development files
*local.*
# Specific ignore for Drupal local config.
# @todo Re-evaluate for consistency.
# @see https://www.drupal.org/node/2419213
*.local*
# Allow example local development files
!example*

# Ignore the node modules folder (created by 'npm install').
node_modules

# We absolutely don't want to have the .sass-cache in git.
.sass-cache

# Ignore any errors thrown by npm.
npm-debug.log

# Ignore any map files. These don't need to be committed.
*.css.map
*.js.map
