{{ attach_library('d8training/about') }}

{% set content = pre_render(items.0.content) %}
{% set cta_url = "" %}
{% set is_external = false %}
{% set is_video = content.paragraph.bundle == 'our_story_video' %}

{% if content.field_call_to_action['#items'].0.url.external %}
  {% set cta_url = content.field_call_to_action['#items'].value.0.uri %}
  {% set is_external = true %}
{% else %}
  {% set cta_url = path(
    content.field_call_to_action['#items'].0.url.routeName, 
    content.field_call_to_action['#items'].0.url.routeParameters, 
    content.field_call_to_action['#items'].0.url.options
  ) %}
{% endif %}

{%
  set data = {
    "is_video": is_video,
    "title": "Our <span>Story</span>",
    "exerpt": content.field_excerpt.0['#context'].value,
    "cta": {
      "text": "Read more",
      "url": cta_url,
      "is_external": is_external
    }
  }
%}

{% if is_video %}
  
  {% set video_data = {
      "image": {
      "src": file_url(content.field_image['#items'].entity.uri.value),
      "alt": content.field_image['#items'].alt
      },
      "video": {
        "src": content.field_video_link['#items'].value.0.uri
      }
    }
  %}
  {% set data = data|merge(video_data) %}

{% else %}
  {% set image_data = {
    "image_left": {
      "src": file_url(content.field_left_image['#items'].entity.uri.value),
      "alt": content.field_left_image['#items'].alt
    },
    "image_right": {
      "src": file_url(content.field_right_image['#items'].entity.uri.value),
      "alt": content.field_right_image['#items'].alt
    }
  } %}
  {% set data = data|merge(image_data) %}

{% endif %}


{% include '@d8training/about/about.twig' with data only %}
