<!--TESTMONIAL AREA-->
<section class="testmonial-area section-padding">
  <div class="testmonial-area-bg" style="background-image: url('{{ background_image.src }}');"></div>
  <div class="container-fluid wow fadeIn">
    <div class="row testmonial-slider">
      {% for item in items %}
      <div class="col-md-offset-2 col-lg-offset-2 col-lg-8  col-md-8 col-sm-12 col-xs-12">
        <div class="single-testmonail text-center">
          <div class="quate-icon"><i class="fa fa-quote-right"></i></div>
          <p>{{ item.text }}</p>
          <div class="testmonial-member-name-title">
            <h4>{{ item.author }}</h4>
            <p>{{ item.position }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--TESTMONIAL AREA END-->
