<div class="search-form-area">
	<div class="search-form-overlay"></div>
	<a class="search-form-trigger" href="#search-form">Search<span></span></a>
	<div id="search-form" class="search-form">
	  <form>
	    <input type="search" placeholder="Search...">
	  </form>
	</div>
</div>